data/mimic/NOTEEVENTS.csv.gz
src/haystacks/outputs/
src/retrieval/outputs/
venv/
src/bedrock_pipeline/bedrock_prompts/
src/bedrock_pipeline/bedrock_responses/
src/eval/note_level/classify/
src/eval/note_level/extract/bm25_llm_eval.csv
src/eval/note_level/extract/faiss_cos_llm_eval.csv
src/eval/note_level/extract/faiss_euc_llm_eval.csv
src/eval/note_level/extract/hybrid_llm_eval.csv
src/eval/note_level/extract/colbert_llm_eval.csv
src/eval/note_level/summarize/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
data/mimic/
src/retrieval_patient_level/outputs/
src/eval/patient_level/classify/original_needle/bm25_eval.csv
src/eval/patient_level/classify/original_needle/colbert_eval.csv
src/eval/patient_level/classify/original_needle/faiss_cos_eval.csv
src/eval/patient_level/classify/original_needle/faiss_euc_eval.csv
src/eval/patient_level/classify/original_needle/hybrid_eval.csv
src/eval/patient_level/extract/bm25_eval.csv
src/eval/patient_level/extract/colbert_eval.csv
src/eval/patient_level/extract/faiss_cos_eval.csv
src/eval/patient_level/extract/faiss_euc_eval.csv
src/eval/patient_level/extract/hybrid_eval.csv
src/eval/patient_level/summarize/bm25_eval.csv
src/eval/patient_level/summarize/colbert_eval.csv
src/eval/patient_level/summarize/faiss_cos_eval.csv
src/eval/patient_level/summarize/faiss_euc_eval.csv
src/eval/patient_level/summarize/hybrid_eval.csv
src/results_patient_level/retrieval_table.py
src/retrieval_query/outputs/
src/llm/outputs/
src/eval/patient_level/extract/faiss_eval.csv
src/eval/patient_level/classify/original_needle/faiss_eval.csv
src/eval/patient_level/summarize/faiss_eval.csv
src/eval/patient_level/classify/original_needle/faiss_mmr_eval.csv
src/eval/patient_level/extract/faiss_mmr_eval.csv
src/eval/patient_level/summarize/faiss_mmr_eval.csv
src/eval/patient_level/classify/original_needle/full_context_baseline_eval.csv
src/eval/patient_level/extract/full_context_baseline_eval.csv
src/eval/patient_level/summarize/full_context_baseline_eval.csv
src/eval/patient_level/classify/original_needle/splade_eval.csv
src/eval/patient_level/extract/splade_eval.csv
src/eval/patient_level/summarize/splade_eval.csv
src/eval/patient_level/classify/original_needle/semantic_chunking_eval.csv
src/eval/patient_level/extract/semantic_chunking_eval.csv
src/eval/patient_level/summarize/semantic_chunking_eval.csv
src/eval/patient_level/classify/clinical_trial/bm25_eval.csv
src/eval/patient_level/classify/clinical_trial/colbert_eval.csv
src/eval/patient_level/classify/clinical_trial/faiss_eval.csv
src/eval/patient_level/classify/clinical_trial/faiss_mmr_eval.csv
src/eval/patient_level/classify/clinical_trial/full_context_baseline_eval.csv
src/eval/patient_level/classify/clinical_trial/splade_eval.csv
src/eval/patient_level/classify/clinical_trial/semantic_chunking_eval.csv